<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
  </head>
  <body>
    <h1>Most Popular Secrets...</h1>
    <a href="/home">Back</a>
    {% for secret in secrets %}
      <p>{{ secret.content }} ({{ secret.created_at }}) {{ secret.likes.count }} likes
      {% if secret in likes %}
        You liked this
      {% else %}
        <a href="/like/{{secret.id}}">Like</a>
      {% endif %}
      {% if user.id == secret.user.id %}
        <a href="/delete/{{secret.id}}">Delete</a></p>
      {% endif %}
    {% endfor %}
  </body>
</html>
